language: go

sudo: required

go:
- 1.10.x

stages:
- test
- name: deploy
  if: QUAY_USERNAME != ""

jobs:
  include:
  - stage: test
    script:
    - cd $HOME/gopath/src/github.com/integr8ly/keycloak-operator && make setup test
  - stage: deploy
    script:
    - docker login --password "$QUAY_PASSWORD" --username "$QUAY_USERNAME" quay.io
    - cd $HOME/gopath/src/github.com/integr8ly/keycloak-operator
    - make compile COMPILE_TARGET=./tmp/_output/bin/keycloak-operator
    - docker build -t quay.io/integreatly/keycloak-operator:$TRAVIS_COMMIT -f tmp/build/Dockerfile .
    - docker push quay.io/integreatly/keycloak-operator:$TRAVIS_COMMIT
