apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: sharedservices.aerogear.org
spec:
  group: aerogear.org
  names:
    kind: SharedService
    listKind: SharedServiceList
    plural: sharedservices
    singular: sharedservice
  scope: Namespaced
  version: v1alpha1
  validation:
    openAPIV3Schema:
      properties:
        spec:
          properties:
            slices_per_instance:
              type: number
            minimum_instances:
              type: number
            maximum_instances:
              type: number
            service_type:
              type: string
            required_instances: 
              type: number
